@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
/* import local special font */
/* https://csstailwind.com/how-to-add-custom-fonts-from-file-in-tailwindcss/ */
@font-face {
  font-family: 'Lemon';
  font-weight: 400;
  src: url('../public/Lemon/Lemon-Regular.ttf') format('truetype');
}

@layer base {
  body {
    @apply font-nunito;
  }
  h1 {
    @apply text-xl md:text-3xl;
    @apply font-lemon;
  }
  h2 {
    @apply text-2xl;
  }
}

@layer components {
  .input-search {
    @apply mt-2 w-full px-4 py-1 text-slate-900 md:w-80 md:px-6 md:py-2;
    @apply rounded-full border border-stone-200 bg-white;
    @apply placeholder:text-slate-400 focus:outline-none focus:ring  focus:ring-opacity-60 focus:ring-offset-2 sm:focus:w-96;
    @apply transition-all duration-300;
  }

  .input-field {
    @apply rounded-lg px-4 py-2;
    @apply border border-stone-200 focus:border-teals-800 focus:outline-none focus:ring focus:ring-teals-200 focus:ring-offset-0;
  }

  .loader {
    @apply relative h-14 w-14 rounded-[50%];
    animation: rotate 1s linear infinite;
  }

  .loader::before,
  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid theme(colors.teals.900);
    animation: prixClipFix 2s linear infinite;
  }
  .loader::after {
    border-color: theme(colors.teals.300);
    animation:
      prixClipFix 2s linear infinite,
      rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
/* .loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#333 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
} */
